@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to GoCamping!: a campsite reservation platform. Please login to get started!</p>
    <a asp-controller="LoginPage" asp-action="Login" class="btn btn-primary" role="button">Login</a>
</div>